.frequently-asked-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}

.frequently-asked-questions .text-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.frequently-asked-questions .text-block .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.frequently-asked-questions .accordions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.frequently-asked-questions .accordions .faq-item {
    border: none;
    border-radius: 8px;
    background: #F5F5F5;
    overflow: hidden;
    max-width: 846px;
    width: 100%;
}

.frequently-asked-questions .accordions .faq-question {
    cursor: pointer;
    padding: 24px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #0C0A08;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    list-style: none;
}

.frequently-asked-questions .accordions .faq-question::-webkit-details-marker {
    display: none;
}

.chevron-up-icon {
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}


.frequently-asked-questions .accordions .faq-item[open] .chevron-up-icon {
    transform: rotate(180deg);
}

.frequently-asked-questions .accordions .faq-item[open] .chevron-up-icon svg path {
    fill: #FFFFFF;
}

.frequently-asked-questions .accordions .faq-item[open] .faq-question {
    border-bottom: 1px solid #E5E7EB;
    background: #77B902;
    color: #FFFFFF;
}

.faq-answer {
    background-color: #77B902;
    color: #FFFFFF;
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.4s ease-in-out;
}

.faq-item.is-open .faq-answer {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
}

.faq-item.is-open .chevron-up-icon {
    transform: rotate(180deg);
}