header {
    min-height: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0C0A08;
    position: relative;
    overflow: hidden;
}

.blur-one {
    left: 0;
}

.blur-two {
    right: 0;
}

.grafism-one {
    right: 46px;
    top: -65px;
}

.lines-svg {
    z-index: 0;
    width: 100%;
}

.header-container {
    position: relative;
    z-index: 20;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

.header-container .blur-overlay svg {
    width: 100%;
    height: 100%;
}

.header-container .header-descriptions {
    max-width: 517px;
    margin: 0;
    gap: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-container .header-descriptions,
.header-container .blur-overlay {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;
}

.header-container.animate .header-descriptions {
    opacity: 1;
    transform: translateY(0);
}

.header-container.animate .blur-overlay {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

.header-container .header-descriptions .title {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1.8px;
    color: #FFFFFF;
}

.header-container .header-descriptions .title .green {
    color: #76B900;
}

.header-container .header-descriptions .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #9CA3AF;
    max-width: 485px;
}

.header-container .header-descriptions .button {
    display: flex;
    gap: 18px;
    align-items: center;
    text-decoration: none;
    background-color: #76B900;
    border-radius: 4px;
    color: #0C0A08;
    padding: 0 32px;
    width: fit-content;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.header-container .header-descriptions .button:hover {
    background-color: #578a00;
}

.lines-svg path {
    animation: drawLine 3s ease forwards;
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}


@media (max-width: 1179px) {
    header {
        padding: 40px 0;
    }
}

@media (max-width: 589px) {
    header {
        padding: 40px 0;
    }

    .header-container {
        gap: 16px;
    }

    .header-descriptions {
        padding: 0 16px;
    }

    .header-container .header-descriptions .title {
        font-size: 42px;
        line-height: 42px;
    }

    .blur-one {
        width: 100%;
    }
}