.photo-and-text .card {
    background: #FFFFFF;
    padding: 32px;
    border: 1px solid #F3F4F6;
    border-radius: 8px;
}

.photo-and-text .card .columns {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.photo-and-text .card .columns img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
}

.photo-and-text .card .columns .description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.photo-and-text .card .description .paragraph {
    color: #5C6B48;
    font-size: 16px;
    line-height: 26px;
    max-width: 940px;
}

@media (max-width: 767px) {
    .photo-and-text .card .columns {
        grid-template-columns: 1fr;
    }
}